<emoji-mart [emojiTooltip]="false" [enableSearch]="false" isNative="true" perLine="7" [i18n]="{ search: 'Búsqueda', categories: { search: 'Resultados de la Búsqueda',
recent: 'Recientes',
people: 'Smileys y Personas',
nature: 'Animales y Naturaleza',
foods: 'Comida y Bebidas',
activity: 'Actividades',
places: 'Lugares y Viajes',
objects: 'Objetos',
symbols: 'Símbolos',
flags: 'Banderas',
custom: 'Custom' } }" title="Seleciona..." [showPreview]="false" (emojiClick)="addEmoji($event)" [useButton]="true" [exclude]="['recent']">
</emoji-mart>